span.firstLogoWord
{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	text-transform: lowercase;
}
span.SecondLogoWord
{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	text-transform: capitalize;
}